/* css/main.css */
body{
	height: 100%;
	width: 100%;
	padding: 0px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #222;
}
.line {
  fill: none;
  stroke: #222;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.nav{
	float: left;
	width:20%;
	height: 100%;
	overflow: visible;
  margin: 5px;
}
.container{
	float: left;
	padding: 3px;
}
.canvas {
	float:left;
	border: 1px solid #222;
	height:500px;
	width:500px;
	background-color: #fff;
}

nav li{
	border: 1px solid #333;
	margin-top: -1px;
	margin-bottom: -1px;
	list-style: none;
	padding:10px 5px;

}
ul{
	padding: 10px;
}
a:visited{
	color: #000;
}
a:active{
	color: #000;

}
.color-picker{
	padding: 0;
	margin: 3px;
}
select{
	margin-left: 15px;
	margin-bottom: 5px;
}
header{
	border-radius: 8px;
	font-size: 18px;
	text-align: left;
	width:51%;
	border: 3px none #999;
	padding-left: 250px;
}