/* css/main.css */
.line {
  fill: none;
  stroke: #f43377;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.nav{
	float: left;
}
.container{
	text-align: center;
}
.canvas {
	float:left;
	border: 5px solid #222;
	height:500px;
	width:500px;
}