body{
	height: 100%;
	width: 100%;
	padding: 0px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #222;
}
h1 {
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: #222;
}
.line {
  fill: none;
  stroke: #222;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
nav{
	float: left;
  width: 150px;
  text-align: center;
  margin: 5px;
  margin-right: 20px;
}
.container{
	float: left;
	padding: 3px;
}
.canvas {
	float:left;
	border: 3px solid #333;
	height:600px;
	width:600px;
	background-color: #fff;
}
li {
	list-style: none;
}

li.pic h2 {
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  margin: 0
}

svg {
  margin-bottom: 10px;
}

nav li{
	border-top: 1px solid #333;
}
nav li a{
  padding: 10px;
  display: block;
}
nav li a:hover {
  color: #fff;
}
nav li:hover{
  background-color: #ccccff;
}
nav li:first-child{
  border: 0;
}
header{
	font-size: 18px;
  margin-left: 250px;
}

.timerContainer h2 {
  margin: 0;
	font-weight: 200;
	font-size: 3em;
}
